@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700&display=swap');

// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 1s;
// }
// .fade-enter-active {
//   transition: opacity 1s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

* {
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  //Font weight specifications > font-weight: 100;
  // Thin            100
  // Extra Light     200
  // Light           300
  // Regular         400
  // Medium          500
  // Semi-Bold       600
  // Bold            700
  // Black           900
}

.link {
  color:$primary;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 80px;
}

.desktop {
  display: inline;
  @media (max-width: $screen-sm) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: $screen-sm) {
    display: inline;
  }
}

.desktop1 {
  display: inline;
  @media (max-width: $screen-md) {
    display: none;
  }
}

.mobile1 {
  display: none;
  @media (max-width: $screen-md) {
    display: inline;
  }
}

.square-pic {
  width: 100%;
}

h2 {
  margin-bottom: 50px;
}

.experiences {
  h5{
    color: $primary;
    margin-bottom: 50px;
  }
}

.experience, .contact {
  .experienceRow, .contactRow {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;

    @media (max-width: $screen-sm) {
      padding-bottom: 80px;
    }

    .content-left {
      padding-right:45px;
    }
    .content-right {
      @media (min-width: $screen-md) {
        padding-left:45px;
      }
    }

    .logo{
      img {
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        height: 150px;
        margin-bottom: 50px;

        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        transition: 0.5s all ease;
      }

      a:hover img {
        top: 2px;
        left:2px;
        height: 170px;
        margin-top: -10px;
        margin-bottom: 40px;
      }
    }

    .mobile {
      margin-top: 15px;
    }

    h3 {
      font-size: 28px;
      font-weight: 500;
    }
    h4 {
      color: $primary;
      font-size: 22px;
      font-weight: 500;
      padding-bottom: 15px;
    }
    .description {
      font-size: 22px;
    }
    .skill-title {
      font-weight: 500;
      font-size: 19px;
      color: white;
      margin-top: 64px;
      @media (max-width: $screen-sm) {
        margin-top: 34px;
      }
    }
    .skill {
      padding-right: 32px;
      align: left;
      display: inline-block;
      font-size: 17px;
      font-weight: 500;
      color: white;
      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }
  }
}