@import "./variables.scss";
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), local('Manrope-Regular'),
    url($font_path+'Manrope-Regular.woff2') format('woff2'),
    url($font_path+'Manrope-Regular.otf') format('otf'),
    url($font_path+'Manrope-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
    url($font_path+'Manrope-Bold.woff2') format('woff2'),
    url($font_path+'Manrope-Bold.otf') format('otf'),
    url($font_path+'Manrope-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
    url($font_path+'Manrope-Light.woff2') format('woff2'),
    url($font_path+'Manrope-Light.otf') format('otf'),
    url($font_path+'Manrope-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 1s;
// }
// .fade-enter-active {
//   transition: opacity 1s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

* {
  color: white;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  //Font weight specifications > font-weight: 100;
  // Thin            100
  // Extra Light     200
  // Light           300
  // Regular         400
  // Medium          500
  // Semi-Bold       600
  // Bold            700
  // Black           900
}

.link {
  color:$primary;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 80px;
  text-align: left;
  @media (max-width: $screen-sm) {
    text-align: center;
  }
}

.desktop {
  display: inline;
  @media (max-width: $screen-sm) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: $screen-sm) {
    display: inline;
  }
}

.desktop1 {
  display: inline;
  @media (max-width: $screen-md) {
    display: none;
  }
}

.mobile1 {
  display: none;
  @media (max-width: $screen-md) {
    display: inline;
  }
}

.square-pic {
  width: 100%;
}

h2 {
  font-weight: 700;
  text-decoration: underline $primary;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 75px;
}

.experiences {
  h5{
    color: $primary;
    margin-bottom: 70px;
  }
}

.experience, .about, .project {
  .experienceRow, .aboutRow, .projectRow {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;

    @media (max-width: $screen-sm) {
      padding-bottom: 80px;
    }

    .position {
      min-width:55%;
    }

    .time {
      min-width: 45%;
    }

    .content-left {
      padding-right:45px;
    }
    .content-right {
      @media (min-width: $screen-md) {
        padding-left:45px;
      }
    }

    .logo{
      img {
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        height: 150px;
        margin-bottom: 30px;

        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        transition: 0.5s all ease;
      }

      a:hover img {
        top: 2px;
        left:2px;
        height: 170px;
        margin-top: -10px;
        margin-bottom: 20px;

        -webkit-clip-path: circle(60.0% at 50% 10%);
        clip-path: circle(50.0% at 50% 50%);
      }
    }

    .mobile {
      margin-top: 15px;
    }

    h3 {
      font-size: 28px;
      font-weight: 700;
    }
    h4 {
      color: $primary;
      font-size: 22px;
      padding-bottom: 15px;
    }
    .description {
      font-size: 22px;
    }
    .skill-title {
      font-size: 19px;
      color: white;
      margin-top: 64px;
      @media (max-width: $screen-sm) {
        margin-top: 34px;
      }
    }
    .skill {
      padding-right: 32px;
      align: left;
      display: inline-block;
      font-size: 17px;
      color: white;
      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }
  }
}

.projectRow {
  @media (min-width: $screen-md) {
    .content-left {
      margin-right:20%;
    }
    .content-right {
      padding-left:10% !important;
    }
  
    .pic-left {
      padding-right:70px;
    }
    .pic-right {
      padding-left:70px;
    }
  }
}

#main{
  // height:100vh;
  z-index: 20;
}

.rotate {
  transform: rotate(-90deg);

  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.text-shadow {
  text-shadow: 3px 3px 2px $blue;
}

// .jarallax {
//   position: relative;
//   z-index: 0;
//   height: 400px;
//   width: 600px;
// }
// .jarallax > .jarallax-img {
//   position: absolute;
//   object-fit: cover;
//   /* support for plugin https://github.com/bfred-it/object-fit-images */
//   font-family: 'object-fit: cover;';
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }