@import "./variables.scss";
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), local('Manrope-Regular'),
    url($font_path+'Manrope-Regular.woff2') format('woff2'),
    url($font_path+'Manrope-Regular.otf') format('otf'),
    url($font_path+'Manrope-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
    url($font_path+'Manrope-Bold.woff2') format('woff2'),
    url($font_path+'Manrope-Bold.otf') format('otf'),
    url($font_path+'Manrope-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
    url($font_path+'Manrope-Light.woff2') format('woff2'),
    url($font_path+'Manrope-Light.otf') format('otf'),
    url($font_path+'Manrope-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 1s;
// }
// .fade-enter-active {
//   transition: opacity 1s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

* {
  color: white;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  //Font weight specifications > font-weight: 100;
  // Thin            100
  // Extra Light     200
  // Light           300
  // Regular         400
  // Medium          500
  // Semi-Bold       600
  // Bold            700
  // Black           900
}

.link {
  color:$primary;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 80px;
  text-align: left;
  @media (max-width: $screen-sm) {
    text-align: center;
  }
}

.desktop {
  display: inline;
  @media (max-width: $screen-sm) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: $screen-sm) {
    display: inline;
  }
}

.desktop1 {
  display: inline;
  @media (max-width: $screen-md) {
    display: none;
  }
}

.mobile1 {
  display: none;
  @media (max-width: $screen-md) {
    display: inline;
  }
}

.square-pic {
  width: 100%;
}

h2 {
  font-weight: 700;
  text-decoration: underline $primary;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 75px;
}

.experiences {
  h5{
    color: $primary;
    margin-bottom: 70px;
  }
}

.experience {
  .experienceRow {
    width:100%;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 60px;

    .position-info {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      
      text-align: left;
      @media (max-width: $screen-md) {
        padding-top: 30px;
      }
    }

    .position {
      font-size: 33px;
      font-weight: 700;
    }
    .time {
      font-size: 25px;
      font-weight: 400;
      padding-top:5px;
      padding-bottom:20px;
    }
    p {
      font-size: 20px;
    }


    .company-link{
      display: flex;

      width: 50%;
      @media (max-width: $screen-md) {
        width:100%;
        display: block;
      }

      .logo{
        float: left;
        min-width: 170px;
        max-width: 170px;
        margin-right: 10px;

        img {
          border-radius: 20px;
          width: 100%;
        }
        @media (max-width: $screen-md) {
          text-align: center;
          float: center;
          min-width: 100%;
          img{
            width: 170px;
          }
        }
      }
  
      .company-info{
        float: left;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        

        @media (max-width: $screen-md) {
          margin-top: 10px;
          text-align: center;
        }

        h3 {
          font-size: 50px;
          font-weight: 700;
          margin-bottom: -5px;
          display: inline-block;
        }
        h4 {
          font-size: 20px;
          font-weight: 400;
          display: inline-block;
          margin-bottom: -5.4px;
        }
      }
    }

    .company-link:hover {
      h4 {
        text-decoration: none;
        border-bottom: 5.45px solid $primary;
      }
    }


    .mobile {
      margin-top: 15px;
    }
  }
}

#Stratus360 {
  background: clear;
  background: linear-gradient(107deg, rgba(16,85,82,1) 0%, rgba(8,26,44,1) 100%);
}
#TDLab {
  background: clear;
  background: linear-gradient(107deg, rgba(84,207,49,1) 0%, rgba(8,81,0,1) 100%);
}
#ZurApps {
  background: clear;
  background: linear-gradient(107deg, rgba(255,162,50,1) 0%, rgba(255,92,22,1) 100%);

  h3 {
    line-height: 40px;
  }
}

.experience-hover {
  display:block;
}
.experience-hover:hover {
  background: white !important;
  h3,h4,.position,.time,p {
    color:black;
  }
}

.project {
.projectRow {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;

    @media (max-width: $screen-sm) {
      padding-bottom: 80px;
    }
  }
}

.about {
  .aboutRow {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;

    @media (max-width: $screen-sm) {
      padding-bottom: 80px;
    }
  }
}

#main{
  // height:100vh;
  z-index: 20;
}

.rotate {
  transform: rotate(-90deg);

  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.text-shadow {
  text-shadow: 3px 3px 2px $blue;
}

.margin-wrap {
  @media (min-width: $screen-md) {
    margin-left: 9.86%;
    margin-right: 9.86%;
  }

  @media (max-width: $screen-md) {
    margin-left: 1%;
    margin-right: 1%;
  }
}

// .jarallax {
//   position: relative;
//   z-index: 0;
//   height: 400px;
//   width: 600px;
// }
// .jarallax > .jarallax-img {
//   position: absolute;
//   object-fit: cover;
//   /* support for plugin https://github.com/bfred-it/object-fit-images */
//   font-family: 'object-fit: cover;';
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }