$primary: #FFCF31;
$blue: #0E4D92;
$grey: rgb(41,41,41);
$dark-grey: #1D1D1D;
$grey-opac: rgba(41,41,41,0.97);

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Import at the end
@import "node_modules/bootstrap/scss/bootstrap.scss";
