// $primary: #FFCF31;
$primary: #31e0ff;
$blue: #0E4D92;
// $blue: #31e0ff; //super old
// $grey: rgb(41,41,41);
$grey: rgb(14, 14, 14);
$dark-grey: #1D1D1D;
// $grey-opac: rgba(41,41,41,0.91);
$grey-opac: rgba(14, 14, 14,0.91);

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Import at the end
@import "node_modules/bootstrap/scss/bootstrap.scss";
